.fill-y {
  min-height: 500px;
  height: 100%; }
  .fill-y > div, .fill-y img {
    flex: 1 1 auto; }

.btn {
  font-family: inherit; }

.btn-primary {
  color: white;
  background-color: #c19148;
  border-radius: 3px; }

.btn-primary:hover {
  box-shadow: inset 0 0 0 20rem #b2843d; }

.btn-primary:active {
  box-shadow: inset 0 0 0 20rem #a77b39, inset 0 3px 4px 0, 0 0 1px #ab7e3a; }

.btn-primary:disabled,
.btn-primary.is-disabled {
  opacity: .5; }

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000; }
  .modal .backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
    z-index: 1; }
  .modal .content {
    margin: auto;
    z-index: 2;
    background-color: white; }

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: 300; }

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

.title-bar {
  background: #d4b381;
  color: white;
  height: 75px; }
  .title-bar div {
    font-size: 1.6em;
    padding: 0.5em; }
  .title-bar .topmenu {
    margin-top: 10px;
    margin-right: 10px;
    float: right;
    font-size: 1.4em; }

.game-container {
  position: absolute;
  top: 75px;
  bottom: 0;
  width: 100%;
  min-width: 960px; }

.form-login {
  display: table;
  margin: 20px auto; }
  .form-login .control-group {
    margin: 15px 0; }
  .form-login label {
    display: inline-block;
    min-width: 130px; }
  .form-login button {
    float: right; }

.illustration {
  margin-left: -20px;
  height: 60px;
  width: 100%; }

.slot {
  margin-left: -40px;
  height: 60px;
  width: 100%; }

.slot-guess {
  display: flex;
  align-items: center;
  justify-content: center; }
  .slot-guess span.correct {
    color: #008000; }
  .slot-guess span.incorrect {
    color: #CC0000; }
  .slot-guess span:hover {
    cursor: pointer; }

.words {
  font-size: 3em;
  font-family: Georgia, Times, "Times New Roman", serif; }

.words-drag {
  background: #f0f0f0; }
  .words-drag .word:hover {
    cursor: pointer; }
  .words-drag .r0 {
    margin-left: 10%; }
  .words-drag .r1 {
    margin-left: 18%; }
  .words-drag .r2 {
    margin-left: 28%; }
  .words-drag .r3 {
    margin-left: 38%; }
  .words-drag .r4 {
    margin-left: 48%; }
  .words-drag .r5 {
    margin-left: 56%; }

.instructions {
  background: #f0f0f0;
  font-size: 1.2em; }
  .instructions a, .instructions a:active, .instructions a:visited {
    color: #275427; }

.words-input input {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 3em;
  border: 0;
  outline: none;
  border-bottom: 2px solid black;
  padding: 0.7em 0; }
  .words-input input.incorrect {
    color: #CC0000; }
  .words-input input.correct {
    color: #008000; }

.goto-next h1 {
  font-weight: 600;
  color: #008000; }

.goto-next div {
  font-size: 1.2em; }

.goto-next button {
  width: 100%; }

/*# sourceMappingURL=main.css.map */