$btn-color: $brown-dark;
$darken-1: darken($btn-color, 5%);
$darken-2: darken($btn-color, 7%);
$darken-3: darken($btn-color, 8%);

.btn {
    font-family: inherit;
}

.btn-primary {
    color: white;
    background-color: $btn-color;
    border-radius: 3px;
}

.btn-primary:hover {
    box-shadow: inset 0 0 0 20rem $darken-1;

}

.btn-primary:active {
    box-shadow: inset 0 0 0 20rem $darken-3 ,
    inset 0 3px 4px 0 ,
    0 0 1px $darken-2;

}

.btn-primary:disabled,
.btn-primary.is-disabled {
    opacity: .5;
}