$main-font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;

$excercise-font-family: Georgia, Times, 'Times New Roman', serif;

$brown: #d4b381;
$brown-bg: $brown;
$grey-bg: #f0f0f0;
$green: #008000;
$red: #CC0000;
$link: #275427;

$alert-blue: rgb(215, 243, 255);

$brown-dark: darken($brown, 15%);

$title-bar-height: 55px;

$game-container-min-width: 960px;
$game-container-min-height: 500px;
$game-container-bottom: 65px;