$main-font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;


$excercise-font-family: Georgia, Times, 'Times New Roman', serif;
$excercise-font-color: #556770;

$dark: #556770;
$dark-bg: $dark;
$grey-bg: #e8eff3;
$grey-fg: #6c7a87;
$green: #009e3c;
$red: #e4133a;
$link: #275427;

$alert-blue: rgb(215, 243, 255);

$content-max-width: 1200px;

$game-container-min-height: 500px;

$progress-height: 60px;

$small-breakpoint: 40em;

$large-breakpoint-1: 1400px;
$large-breakpoint-2: 1900px;
$large-breakpoint-3: 2400px;

$title-bar-height-sm: 52px;
$title-bar-height: 58px;

