$main-font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;

$excercise-font-family: Georgia, Times, 'Times New Roman', serif;

$brown: #d4b381;
$brown-bg: $brown;
$grey-bg: #f0f0f0;
$green: #008000;
$red: #CC0000;
$link: #275427;

$brown-dark: darken($brown, 15%);
