@import "variables";
@import "trumps";
@import "components.btn";
@import "components.modal";


body {
    font-family: $main-font-family;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 300;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

// Sections

.title-bar {
    background: $brown-bg;
    height: $title-bar-height;

    a {
        color: white;
        text-decoration: none;
    }

    div {
        font-size: 1.6rem;
        padding: 8px 0;
    }

    .actions {
        color: white;
        font-size: 1.3rem;
        cursor: pointer;
        min-width: 100px;

        &.menu-header:after {
            padding-left: 8px;
            font-size: 0.6em;
            vertical-align: middle;
            content: "▼";
        }

        &.open.menu-header:after {
            content: "▲";
        }

        .menu {
            display: none;

            z-index: 1;
            font-size: 0.8em;
            margin-top: 8px;
            background: white;
            border: 1px solid $grey-bg;
            padding: 10px;
            width: 125px;
            margin-left: -11px;

            a {
                color: $grey-fg;
            }
        }

        &.open .menu {
            display: block;
        }
    }

}

.game-container {
    position: absolute;
    top: $title-bar-height;
    bottom: $game-container-bottom;
    border-bottom: 1px solid #999;
    width: 100%;
    min-width: $game-container-min-width;
    min-height: $game-container-min-height;

    .illustration {
        height: 60px;
        margin-left: -55%;
    }
}

.form-login {
    display: table;
    margin: 20px auto;
    .control-group {
        margin: 15px 0;
    }
    label {
        display: inline-block;
        min-width: 130px;
    }
    button {
        float: right;
    }

    .error {
        max-width: 300px;
    }
}

// Elements


.slot {
    margin-left: -33%;
    height: 60px;
    width: 100%;
}

.slot-guess, .slot-truth {
    display: flex;
    align-items: center;
    justify-content: center;

    span {
        &.incorrect {
            color: $red;
        }

        &.correct {
            // TODO: quick zoom when transitioning to correct
            color: $green;
        }
    }
}

.slot-guess span:hover {
    cursor: pointer;
}

.words {
    font-size: 3em;
    font-family: $excercise-font-family;
}

.words-drag {
    background: $grey-bg;

    .word {
        &:hover {
            cursor: pointer;
        }
    }

    .r0 { margin-left: 10%; }
    .r1 { margin-left: 18%; }
    .r2 { margin-left: 28%; }
    .r3 { margin-left: 38%; }
    .r4 { margin-left: 48%; }
    .r5 { margin-left: 56%; }
}

.instructions {
    background: $grey-bg;
    font-size: 1.2em;

    a, a:active, a:visited {
        color: $link;
    }
}

.words-input {
    margin-top: -20px;

    input {
        height: auto;
        margin-left: -33%;
        border: 0;
        border-bottom: 2px solid black;
        font-family: $excercise-font-family;
        font-size: 3em;
        outline: none;

        &.incorrect {
            color: $red;
        }

        &.correct {
            // TODO: quick zoom when transitioning to correct
            color: $green;
        }
    }
}

.modal .content {
    height: 9.5em;
}

.goto-next {
    h1 {
        font-weight: 600;
        color: $green;
    }

    div {
        font-size: 1.2em;
    }

    a {
        text-align: center;
        display: block;
    }
}

.progress-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $game-container-bottom;
    background: white;
    border-top: 1px solid #999;

    display: flex;
    align-items: center;
    justify-content: center;

    .progress {
        height: 25px;
        border-radius: 10px;
    }

    .progress-wrap {

        width: 100%;
        background: #ddd;
        overflow: hidden;

        .progress-bar {
            position: relative;
            left: 0;
            top: 0;
            width: 0;

            background: lighten($green, 10%);
        }
    }
}

.overview {

    background: $grey-bg;

    .header {
        background: $alert-blue;
    }

    .groups {
        padding-left: 8.333%;
        padding-right: 8.333%;
        background: white;
        padding-top: 2em;
    }

    a {
        color: #333;
        text-decoration: none;
    }

    .title-bar a {
        color: white;
    }

    .group {
        padding-right: 12px;
        display: flex;
        align-items: center;
        height: 10em;
        color: #333;
        margin-bottom: 4em;

        .index {
            text-align: center;
            height: 2.5em;
            width: 2.5em;
            line-height: 2.5em;
            background: $grey-bg;
            border-radius: 3px;
            z-index: 1;
        }

        .todo {
            background: $grey-bg;
        }

        .done {
            background: lighten($green, 10%);
            color: white;
        }

        .illustration {
            height: 12em;
        }

        .description {
            display: flex;
            align-items: center;
        }

        &:hover {
            .todo {
                box-shadow: inset 0 0 0 20rem darken($grey-bg, 5%);
            }
            .done {
                box-shadow: inset 0 0 0 20rem lighten($green, 5%);
            }
        }

        &:active {
            .todo {
                box-shadow: inset 0 0 0 20rem darken($grey-bg, 7%);
            }
            .done {
                box-shadow: inset 0 0 0 20rem lighten($green, 3%);
            }
        }
    }

    .footer {
        color: #666;
        background: $grey-bg;
    }
}

@media (min-width: $large-breakpoint-2) {
    .words {
        font-size: 5em;
    }

    .words-input input {
        font-size: 5em;
    }
}

@media (min-width: $large-breakpoint-3) {
    .words {
        font-size: 6em;
    }

    .words-input input {
        font-size: 6em;
    }
}