$main-font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

$excercise-font-family: Georgia, Times, 'Times New Roman', serif;

@import "components.btn";

body {
    font-family: $main-font-family;
}

h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 300;
}

$brown-bg: #d4b381;
$grey-bg: #f0f0f0;

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

// Sections

.title-bar {
    background: $brown-bg;
    color: white;
    height: 75px;

    div {
        font-size: 1.6em;
        padding: 0.5em;
    }
}

.debug-bg {
    background: #dff;
}

.game-container {
    position: absolute;
    top: 75px;
    bottom: 0;
    width: 100%;
    min-width: 960px;
}

.fill-y {
    min-height: 500px;
    height: 100%;

    > div, img {
        flex: 1 1 auto;
    }
}

// Elements

.illustration {
    margin-left: -20px;
    height: 60px;
    width: 100%;
}

<<<<<<< d58db2192a98a5753cd00147adac2cb366208450
.slot {
=======
.box {
>>>>>>> Login form (wip)
    margin-left: -40px;
    height: 60px;
    width: 100%;
}

<<<<<<< d58db2192a98a5753cd00147adac2cb366208450
.slot-guess {
    display: flex;
    align-items: center;
    justify-content: center;

    span {
        &.correct {
            color: #0F0;
        }

        &.incorrect {
            color: #F00;
        }

        &:hover {
            cursor: pointer;
        }
    }
}

.words {
    font-size: 3em;
    font-family: $excercise-font-family;
=======
.words {
    font-size: 3em;
    font-family: $excercise-font-family;

    &.correct {
        fill: #0F0;
    }

    &.incorrect {
        fill: #F00;
    }
>>>>>>> Login form (wip)
}

.words-drag {
    background: $grey-bg;

    div {
        &:hover {
            cursor: pointer;
        }
    }

    .r0 { margin-left: 10%; }
    .r1 { margin-left: 18%; }
    .r2 { margin-left: 28%; }
    .r3 { margin-left: 38%; }
    .r4 { margin-left: 48%; }
    .r5 { margin-left: 56%; }
}

.words-input {
    input {
        border: 0;
        outline: none;
        border-bottom: 2px solid black;
        padding: 0.3em;
    }
}

// Components

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;

    .backdrop {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.6;
        z-index: 1;
    }

    .content {
        margin: auto;
        z-index: 2;
        background-color: white;
    }
}
